[submodule "src/usb/tinyusb"]
	path = src/usb/tinyusb
	url = https://github.com/hathach/tinyusb.git
	ignore = dirty
[submodule "src/wifi/lwip"]
	path = src/wifi/lwip
	url = https://github.com/lwip-tcpip/lwip.git
